
/*********************** map__con1영역 *************************/

.map__con1__tit{
    font-family: 'Roboto';
    font-size:35px;
    font-weight: 900px;
    letter-spacing: -3px;
    border-bottom:3px solid #111;
    max-width:1080px;
    text-align:right;
    margin-bottom:50px;
  }
  
  
  .map__con1{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    max-width: 1080px;
    height: 1000px;
    margin:100px auto 0;
    position: relative;
  }
  
  .map__con1__img{
    
  }

  .map__con1 .map__con1__txt{
    width:100%;
  }
  
  .map__con1 h2{
    letter-spacing: -3.8px;
    text-align: center;
    margin-bottom:30px;
  }
  
  .map__con1 h3{
    font-size:25px;
    font-size: 200;
    letter-spacing:-3px;
    margin-top:30px;
    padding-top:30px;
  }

  .map__con1 p{
    margin:10px 0 30px;
    font-size:14px;
    letter-spacing:-1px;
  }

  .map__con1 div{
    width:50%;
    text-align: center;
  }
  
  .tag{
    background-color: #f2f2f2;
    color:#666;
    font-size:14px;
    padding:0 7px;
    display: inline-block;
    line-height: 27px;
    margin-top:6px;
    margin-right:6px;
  }
  
  
  /*********************** map__con2영역 *************************/
  
  .map_sec2{
    width: 100%;
    background:#f2f2f2;
    height: 800px;
  }

  .map__con2{
    display:flex;
    justify-content: center;
    margin:0 auto;
    flex-wrap: wrap;
    padding-top:120px;
    max-width: 1080px;
    height: 640px;
    font-size:20px;
    
  }
  .map__con2 h2, p{
    width:100%;
    text-align: center;
  }
  
  .map__con2 p{
    margin-bottom:70px;
    font-size:14px;
    letter-spacing: -1px;
  }
  
  .map__con2 h3{
    display: inline-block;
    text-align:center;
    margin-bottom:20px;
    width:100%;
    font-size:20px;
    font-weight: 500;
  }
  
  .view__more{
    border:1px solid rgba(0,0,0,0.5);
    padding:15px 60px;
  }
  
  .view__more:hover{
    background-color: black;
    color:white;
    transition:linear;
    transition-duration: .3s;
  }
  
  .map__con2__tit{
    max-width:1080px;
    margin:0 auto;
  }
  
  .map__con2__tit nav{
    font-size:30px;
    letter-spacing: -4px;
    color:white;
  }
  
  .map__con2__tit p{
    font-size :15px;
    font-weight: 100;
    margin-bottom:60px;
    letter-spacing: -1px;
    color:white;
  }
  
  .map__con2__img{
    display:flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    height:370px;
  }
  
  .map__con2__img a{
    width:370px;
    background-color: #fff;
  }
  
  .map__con2__img a:hover{
    background-color: rgba(0,0,0,0.2);
    transition-timing-function: ease-in;
    transition-duration: .3s;
    color:white;
  }
  
  .map__con2__img a:nth-of-type(2){
    background:url('../images/pen2.png') no-repeat ;
  }
  
  .map__con2__img a:nth-of-type(3){
    background:url('https://dfrkkcv2hg1jc.cloudfront.net/data/product_en/2010209101_file6_151062745224x4raxzu6.jpg') no-repeat center;
    background-size: cover;
  }
  
  
  .map__con2__img a:nth-of-type(4){
    /* background:url('http://monamiconcept.com/wp-content/uploads/2017/12/mnm_96A5477_2.jpg') no-repeat center; */
    background-color: gold;
    background-size: cover;
  }
  
  
  .map__con2__img p{
    display: none;
    font-size:20px;
    text-align: center;
    font-weight: 900;
    padding:20px 0;
    color:#333;
    letter-spacing: -3px;
  }
  

  /*********************** map__con3영역 *************************/
  .map__con3{
    display: flex;
    max-width: 1080px;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    background-color: white;
    color:#333;
    margin:0 auto;
  }
  
  .map__con3 p:nth-of-type(1){
    font-size:25px;
    font-weight: 100;
    letter-spacing: -3px;
    width:80%;
  }
  
  .map__con3 p:nth-of-type(2){
    width: 17%;
  }
  
  .map__tit{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width:50%;
    color:#666;
  }

  .map__tit h3:hover a{
    background:black;
    color:white;
    transition: 0.2s all;
    transition-timing-function: linear;
    padding:10px 50px;
  }
  
.main__container header{
  width:100%;
  background:white;
  border-top:3px solid #111;
  top:0;
  left:0;
  width:100%;
  position: relative;
  position: fixed;
  box-sizing: content-box;
}

.map__main{
  margin-top:100px;
  /* height: 800px; */
  /* background-image: url('../images/about_main.jpg'); */
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
   width:100px;
   height: 50px;
   position: absolute;
   top:10%;
   left:2%;
}

.main_con{
    height: 100vh;
    width: 100%;
    background: #fff;
    overflow: hidden;
}

@media (max-width: 768px) {
  .map__main div:nth-of-type(2){
    display: none;
    padding:0;
  }
};